/* TEMA CLARO */
.light {
  --bg: #f4f4f4;
  --text: #000;
  --sidebar-bg: #9bd6ff;
  --box-bg: #ddd;
}

/* TEMA ESCURO */
.dark {
  --bg: #1d1d1d;
  --text: #eee;
  --sidebar-bg: #1a3a52;
  --box-bg: #333;
}

body,
.light,
.dark {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}
